.flight {
  width: 100%;
  height: 100vh;
  
  
}
.flight-content {
  width: 100%;
  height: 100%;
}

.flight-text{
  padding-left: 37%;
  padding-top: 2%;
  font-size: 1.5rem;
  font-family: sans-serif;
}

.first-heading{
  padding-left: 35%;
  font-size: 1.9rem;
  font-family: sans-serif;
}

.flight-info{
  border: 2px solid grey;
  width: 27%;
  height: 60vh;
  margin-left: 4%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2%;
   margin-top: 3%;
   background-image: url('../../public/look-outside.webp');
   background-repeat: no-repeat;
   background-size: cover;
}



.description{
  font-size: 1rem;
  font-family: sans-serif;
  /* padding-top: 65%; */
  margin-top: 110%;
  text-align: center;
  /* border: 3px solid lime; */
  background-color: transparent;
  
}

.flight-infosec{
 border: 2px solid grey;
  width: 27%;
  height: 60vh;
  margin-left: 36%;
  margin-top: -27%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2%;
   background-image: url('../../public/image.png');
   background-repeat: no-repeat;
   background-size: cover;
  
}

.sec-description{
    font-size: 1rem;
  font-family: sans-serif;
  padding-top: 63%;
  text-align: center;
   background-color: transparent;
   margin-top: 45%;
}

.flight-infothr{
   border: 2px solid grey;
  width: 27%;
  height: 60vh;
  margin-left: 68%;
  margin-top: -27%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 2%;
   background-image: url(../../public/image\ copy.png);
   background-repeat: no-repeat;
   background-size: cover;
}

.thir-description{
   font-size: 1rem;
  font-family: sans-serif;
  padding-top: 63%;
  text-align: center;
  background-color: transparent;
   margin-top: 45%;
}