.flight {
  width: 100%;
  height: 100vh;
  border: 4px solid rgb(255, 251, 11);
}
.flight-content {
  width: 100%;
  height: 100%;
}

.flight-text{
  padding-left: 37%;
  padding-top: 2%;
  font-size: 1.5rem;
  font-family: sans-serif;
}

